@model IEnumerable<DeerflyPatches.Models.Product>

@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <div class="row">
@foreach (var item in Model) {
        <article class="col-xs-12 col-sm-4 col-md-3 col-lg-3 product-item">
            <div class="image-wrapper">
                <img class="product-image" src="@item.ImageURL" alt="@item.Name" />
            </div>
            <h4 class="product-name">@item.Name</h4>
            <p class="product-description">@item.Description</p>
            <p class="product-price">$@item.Price</p>
            <div class="button-container">
                <button class="btn">Buy Now</button>
                <form asp-controller="OrderDetails" asp-action="AddOrderDetailToShoppingCart">
                    <div class="form-actions no-color">
                        <input type="hidden" name="id" value="@item.ID" />
                        <input type="submit" value="Add to Shopping Cart" class="btn btn-default" /> |
                    </div>
                </form>
            </div>
        </article>
}
    </div>
</div>